html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0
}
/* body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

fieldset,
img {
  border: 0
}

img {
  display: block
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal
}

ul,
ol {
  list-style: none
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体"
} */

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

select,
 input {
  vertical-align: middle
}

/* .el-input--small .el-input__inner{
  width:100% !important;
} */

/* select,
input,
textarea {
  font-size: 12px;
  margin: 0
} */

/* input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none
} */

/* .el-input {
 width:200px;

} */

textarea {
  resize: none
}

table {
  border-collapse: collapse
}


